* {
  box-sizing: border-box;
  --bg: #051126;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  background-color: var(--bg);
}

main {
  width: 100vw;
  height: 100%;
}